.topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .box {
    display: flex;
    align-items:center;
 }

 .v1{
    height: 500px;
    left: 50%;
    margin-left: -3px;
    top: 0;
 }

.v2{
  text-align: center;
}

 p1{
     text-size-adjust: 36px;
 }